name: Deploy Infrastructure


on:
    push:
        paths:
            - 'infrastructure/**'


jobs:
    terraform:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: infrastructure
        steps:
            - name: Checkout code
              uses: actions/checkout@v3


            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                terraform_version: 1.5.0


            - name: Terraform Init & Apply
              env:
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                AWS_REGION: ${{ secrets.AWS_REGION }}
              run: |
                terraform init
                terraform apply -auto-approve -var-file="terraform.tfvars"