name: Deploy Backend


on:
    push:
        paths:
            - 'backend/**'


jobs:
    deploy-backend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3


            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_REGION }}


            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v1


            - name: Build and Push Docker Image to ECR
              env:
                ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
                ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
              run: |
                IMAGE_URI="$ECR_REGISTRY/$ECR_REPOSITORY:latest"
                cd backend
                docker build -t $IMAGE_URI .
                docker push $IMAGE_URI


            - name: Update ECS Service
              run: |
                aws ecs update-service \
                --cluster yellow-pages-cluster \
                --service yellow-pages-service \
                --force-new-deployment