name: Deploy Frontend


on:
    push:
        paths:
            - 'frontend/**'


jobs:
    deploy-frontend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3


            - name: Install dependencies and build
              run: |
                cd frontend
                npm install
                npm run build


            - name: Upload build to S3
              env:
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                AWS_REGION: ${{ secrets.AWS_REGION }}
              run: |
                aws s3 sync frontend/build/ s3://yellow-pages-frontend --delete